body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #aec6c2;
    color: #3d676f;
    text-align: center;
}

.search-country {
   padding: 10px;
}

.btn {
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    color: #ddebe6;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #3d676f;
}

.result-output {
    text-align: left;
    background-color: #ddebe6;
    color: #3d676f;
    padding: 15px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
}

.result-info{
    text-align: left;
    background-color: #ddebe6;
    color: #3d676f;
    padding: 15px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
}

.hide {
    display: none;
}